@charset "UTF-8";

* { /* resetando as configurações do site */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

.flex {
    display: flex;
}

.logo > img{ /* modificando o tamanho da imagem */
    width: 180px;
}

body {
   background-color: #262423;
}

header {
    background-color: black;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.418);
    background-attachment: fixed;
}

p {
    color: white;
    font-size: 20px;
    text-align: justify;
}

h1 {
    color: white;
    font-size: 35px;
}

header a { 
   text-decoration: none;
   background-color: rgba(41, 41, 41, 0.966);
   color: rgb(202, 202, 202);
   border-radius: 10px;
   padding: 20px;
   transition-duration: 0.2s; 
   cursor: pointer;
   display: inline-block;
   font-size: 15px;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.425);
    color: white;
    transform: scale(1.05);
}

.interface { 
    max-width: 1280px;
    margin: auto;
}

header {
    padding: 60px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagem-sede img{
    max-width: 300px;
    box-shadow: 2px 2px 10px black;
    margin-top: 50px;
    margin-bottom: 40px;
}

.conteudo1 {
    padding: 60px 4%;
}

.imagem-Markus img{
    max-width: 300px;
    box-shadow: 2px 2px 10px black; 
}

.conteudo2 {
    padding: 60px 4%;
}

.titulo-Jogos h1 {
    color: white;
    text-align: center;
    font-size: 35px;
    margin-top: 80px;
}

.jogo1, .jogo2, .jogo3 {
    padding: 60px 4%;
    color: white;
}

@keyframes animação {
    0% {
        top: 0;
    }
    100% {
        top: 20px;
    }
}

.imagem-Minecraft img{
    max-width: 300px;
    position: relative;
    animation: animação 2s ease-in-out infinite alternate;
}

.jogo1 .flex {
    align-items: center;
    gap: 50px;
}

.txt-jogo1, .txt-jogo2, .txt-jogo3 h2 {
    color: darkgreen;
    margin-bottom: 10px;
}

.download button {
    padding: 8px 10px;
    border: 0;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    background-color: darkgreen;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    box-shadow: 0px 0px 9px  rgba(1, 180, 1, 0.658);
    transform: scale(1.05);
}

.jogo2 .flex {
    align-items: center;
    gap: 50px;
}

.jogo3 .flex {
    align-items: center;
    gap: 50px;
}

.formulario {
    padding: 80px 4%;
}

.formulario h1 {
    text-align: center;
    padding-bottom: 30px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form input {
    width: 100%;
    background-color: rgba(41, 41, 41, 0.966); 
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 15px;
    color: white;
    font-size: 15px;
}

.butão-formulario {
    margin-top: 15px;
    text-align: center;
}

.butão-formulario input {
    width: 100px;
    background-color: darkgreen;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.butão-formulario input:hover {
    box-shadow: 0px 0px 9px  rgba(1, 180, 1, 0.658);
    transform: scale(1.05);
}

.menu-celular {
    text-align: center;
    display: none;
}

@media screen and (max-width: 700px) {
    .flex {
        flex-direction: column;
        text-align: center;
    }

    p {
        font-size: 20px;
    }

    .menu {
        display: none;
    }

    .menu-celular {
        display: block;
        margin-top: 20px;
    }

}